body {
  background-color: #191919;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  margin: 40px;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:active {
  color: #118da8;
}

/* Navbar */

.navbar {
  background-color: #191919;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  height: 119px;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_item {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding: 0 10px;
  color: #191919;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.nav-container li {
  float: left;
}

.logo {
  padding: 26px 0 26px 26px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

/* info */

.container-info {
  display: flex;
  align-items: flex-start;
  padding: 0 10px;
  margin: auto;
  box-sizing: border-box;
}

.img1 {
  margin-left: 20px;
  width: auto;
  height: auto;
}

.text-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-left: 60px;
  text-align: left;
  gap: 10px;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: 100;
  margin: 0;
  width: 100%;
  padding-top: 150px;
}

.img-radio {
  margin-right: 30px;
  width: auto;
  height: auto;
}

.img-radio:last-child {
  margin-right: 0px;
}

.listen {
  display: flex;
  align-items: flex-start;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 150px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: transform 0.4s ease;
}

.burger.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

/* container-content */

.container-content {
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.all-episode {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding-left: 52px;
  align-items: flex-start;
  gap: 750px;
}

/* .content-epi{
  align-items: center;
  color: white;
  width: 100%;
  background-color: black;
  height: 512px;
  border-radius: 10px;
  margin: 40px auto;
  padding: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
} */

.all-btn {
  display: flex;
  margin-top: 20px;
}

section {
  background-color: black;
  border-radius: 10px;
  margin: 40px auto;
  padding: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
} 

.img-cont {
  height: 465px;
  margin-right: 40px;
  padding-bottom: 30px;
}

.text-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.text-episod{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
 color: white;
}

h2 {
  margin-bottom: 20px;
  font-size: 64px;
  color: white;
  margin-top: 0;
  font-weight: 100;
}

.text-content p {
  margin-bottom: 20px;
  font-size: 22px;
  color: white;
}

button {
  padding: 10px 20px;
  background-color: #118da8;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  align-self: flex-start;
  font-size: 18px;
  margin-bottom: 20px;
}

h4 {
  font-size: 17px;
  font-weight: 500;
  color: #118da8;
  margin-bottom: 10px;
}

.btn-epi {
  padding: 10px;
  background-color: #191919;
  color: white;
}

/* person, contact */

.info-person p {
  margin-bottom: 20px;
  font-size: 22px;
  color: white;
}

.img-person {
  height: 743.44px;
  border-radius: 10px;
}

.info-person {
  display: flex;
  align-items: center;
  padding: 0 30px;
  gap: 30px;
  margin-bottom: 200px;
  margin-top: 300px;
}

.text-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#btn {
  width: 112px;
  height: 112px;
  object-fit: cover;
  object-position: center;
  clip-path: circle(50% at 60% 54%);
}

.email-name {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  margin-top: auto;
}

form {
  width: 522px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 50px;
}

input[type="name"],
input[type="email"] {
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 5px;
  padding-left: 40px;
  background-color: #191919;
}

.sub {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 72px;
  align-items: start;
  color: white;
  width: 50%;
  padding: 40px;
}

.email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.text-email h4 {
  margin: 50px 0 0 50px;
}

/* column */

.cont-col {
  display: flex;
  gap: 30px;
  color: white;
  font-size: 36px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.column1,
.column2,
.column3,
.column4,
.column5,
.column6 {
  flex: 1;
  background-color: black;
  height: 321px;
  width: 33.3%;
  padding: 20px;
  border-radius: 10px;
}

.cont-col img {
  margin-left: 10px;
  margin-right: 0;
  margin-top: 0;
}

.col-name {
  font-size: 24px;
  padding-bottom: 50px;
  margin-top: 10px;
}

.text-cont-col {
  padding-left: 20px;
  padding-right: 20px;
  text-align: bottom;
  flex-wrap: wrap-reverse;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.footer-menu {
  display: flex;
  align-items: top;
  gap: 20px;
}

.menu-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}

.menu-column:last-child {
  margin-right: 0px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.menu-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  margin-left: 30px;
  gap: 10px;
}

.footer-menu ul {
  line-height: 1;
}

.footer-logo {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;
}

.social-icon {
  display: flex;
  margin-left: 0;
}

.social-icon a {
  margin-right: 0;
}

.img-radio-cont {
  gap: 10px;
  padding-right: 250px;
  display: inline-flex;
  align-items: flex-start;
  margin-bottom: 250px;
}

.img-radio {
  margin: 5px;
}




/* @media screen and (max-width: 767px) {
  .burger {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }

  .container-info,
  .container-content,
  .all-episode,
  .info-person,
  .episod
   div
  section,
  .text-info,
  .email-name,
  .footer-menu,
  .footer-container,
  .menu-column,
  footer
  .text-content {
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 20px;
}

  .container-info,
  .all-episode,
  .all-btn,
  .info-person,
  .episod

  section,
  .text-info,
  .email-name,
  .footer-menu,
  .footer-container,
  footer 
  section {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
  }

  #btn {
    display: flex;
    align-items: center;
    width: 72px; 
    height: 72px;
    object-fit: cover;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding-right: 0; 
    gap: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  input[type="name"],
  input[type="email"] {
    display: flex;
    align-items: center;
    width: calc(100% - 40px);
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
    padding-left: 40px;
    background-color: #191919;

  }

  .email {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 20px 0;
    gap: 10px;

  }

  .text-email h4 {
    display: flex;
    align-items: center;
    margin: 10px 0; 
    text-align: center; 
  }
  .sub {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    gap: 10px;
    width: calc(100% - 40px);
    padding: 20px;
    font-size: 40px;
    margin: 20px 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .cont-col {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;
    margin: 20px 0;
    margin-top: 0;
    margin-bottom: 0;
    width: calc(100% - 40px);
    padding: 20px;
    font-size: 24px;
  }

  .column1,
  .column2,
  .column3,
  .column4,
  .column5,
  .column6 {
    flex-direction: column;
    width: 100%; 
    padding: 20px;
    gap: 10px;
    margin: 10px 0;
  }

  .col-name {
   padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;

  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: calc(100% - 40px);
    font-size: 18px;
  }
  .menu-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    margin-left: 30px;
    gap: 10px;
    width: calc(100% - 40px);
  }
  
  .footer-menu ul {
    line-height: 1;
  }
  .episod{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 20px 0;
    gap: 10px; 
  }
} */

@media screen and (max-width: 767px) {
  .burger {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }

  .container-info,
  .container-content,
  .all-episode,
  .info-person,
  .episod div,
  section,
  .text-info,
  .email-name,
  .footer-menu,
  .footer-container,
  footer .text-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 20px;
  }

  #btn {
    display: flex;
    align-items: center;
    width: 72px;
    height: 72px;
    object-fit: cover;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 20px;
  }

  input[type="name"],
  input[type="email"] {
    width: calc(100% - 40px);
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
    padding-left: 40px;
    background-color: #191919;
  }

  .email {
    margin: 20px 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
  /* }
.content-epi{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.text-episod{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
 color: white;
} */

  .sub {
    width: calc(100% - 40px);
    padding: 20px;
    font-size: 40px;
    margin: 20px 0;
  }

  .cont-col {
    gap: 20px;
    padding: 20px;
    margin: 20px 0;
    width: calc(100% - 40px);
    font-size: 24px;
  }

  .column1,
  .column2,
  .column3,
  .column4,
  .column5,
  .column6 {
    padding: 20px;
    gap: 10px;
    margin: 10px 0;
  }

  .col-name {
    padding-bottom: 20px;
    font-size: 18px;
  }

  .footer-menu {
    gap: 20px;
    width: calc(100% - 40px);
    font-size: 18px;
  }

  .menu-column {
    margin-left: 30px;
    gap: 10px;
    width: calc(100% - 40px);
  }

  .episod {
    margin: 20px 0;
    gap: 10px;
  }
}

}